@media screen and (max-width: 720px) { 

      .encabezado {
        height: 44px;
    }
    
    .encabezado #logo {
        left: 16px;
        top: 10px;
        width: 24px;    
    }

    .encabezado label img {
        display: block;
        width: 18px;
        float: right;
        margin-right: 19px;
        margin-top: 16px;
    }

    .encabezado .cruz {
        display: none;
    }

    .encabezado nav {
        left: 0;
        right: 0;
        top: 0; 
    }
    
    .encabezado nav ul {
        background: #0000EC;
        display: none;
        flex-direction: column;
        height: 224px;
    }

    .encabezado nav ul li {
        margin-top: 24px;
        margin-left: 16px;
    }

    .encabezado nav ul li a {
        color: #FFFFFF;
    }

    #boton-menu:checked ~ .menu {
        background: #0000EC;
        margin-top: 44px;
        height: 224px;
        transition: all 1s;
    }

    #boton-menu:checked ~ label .cruz {
        display: block;
    }

    #boton-menu:checked ~ label .hamb {
        display: none;
    }

    #boton-menu:checked ~ .menu ul {
        display: flex;
    }   

    main {
        margin-left: 16px;
        margin-top: 29px;
    }

    main h1 {
        font-size: 36px;        
    }

    main p {
        font-size: 14px;
        width: 288px;
        line-height: 22px;    
    }

    main h1 #punto {
        color: #060A24;
    }

    .boton {
        height: 48px;
        font-size: 16px;
        line-height: 22px;    
    }
    
    main .boton {
        margin-top: 36px;
        width: 288px;        
    }

    .boton:active {
        background-image: none;
    }

    #episodios {
        margin-top: 24px;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        clip-path: polygon(0 2%, 100% 0%, 100% 96%, 0% 100%)
    }

    #episodios div h1 {
        margin-left: 16px;
        margin-top: 64px;     
        font-size: 36px;   
    }

    #episodios div div {
        display: block;
        margin-left: 11px;
        margin-right: 11px;
        margin-top: 21px;
    }

    #episodios div:last-child {
        margin-top: 0px;            
    }

    #episodios div div iframe {
        width: 100%;
        margin-top: 11px
    }
    
    #nosotros {
        display: flex;
        flex-direction: column;
    }

    #nosotros img {
        margin-left: 10px;
        margin-right: 10px;
        width: 100%;   
    }

    #nosotros div h1 {
        width: 288px;
        margin-top: 27px;
        margin-left: 16px;
        font-size: 36px;
        line-height: 42px;
    }    

    #nosotros div p {
        flex-direction: row;
        margin-top: 8px;
        margin-left: 16px;
        margin-right: 16px;
        width: 288px;
        font-size: 14px;
    }

    #entrevistas h1 {
        display: inline-block;  
        margin-top: 54px;  
        font-size: 36px;
        margin-left: 16px;
    }

    #entrevistas div {
        display: flex;
        flex-direction: column;
        margin-top: 14px;
        width: 100%;
    }

    #topicos h1 {
        margin-left: 16px;
        margin-top: 48px;
        font-size: 36px;
    }

    #topicos div {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
    }

    #topicos div div {
        width: 100%;
    }


    #novedades {
        margin-top: 42px;   
        padding-bottom: 67px;
        background-image: linear-gradient(225deg, #0000FF 0%, #0000A3 100%);
        clip-path: polygon(0 8%, 100% 0, 100% 100%, 0% 100%);
    }

    #novedades h1 {
        margin-top: 64px;
        width: 288px;
        font-size: 36px;
        text-align: center;

    }

    #novedades .boton {
        width: 288px;
    }

    footer {
        display: flex;
        flex-direction: column;
        margin-top: 24px;
        margin-left: 47px;
        margin-right: 46px;
        font-size: 14px;
    }

    footer ul {
        display: flex;
        justify-content: space-between;
        width: 214px;
    }

    footer ul li {
        margin-left: 0;
    }



    
}